{
  "extends": ["airbnb", "prettier"],
  "env": {
    "browser": true
  },
  "plugins": [
    "prettier",
    "react",
    "jsx-a11y",
    "import"
  ],
  "rules": {
    "prettier/prettier": ["error"]
  }
}